/* CALENDAR WRAPPER
=========================================*/
.subpages {
	a:link,
	a:visited {
		display: block;
		padding:.5em;
		background: rgba(0,0,0,.1);
		margin-bottom: 1px;
		i {
			transition:$transition;
		}
	}
	a:before {
		content:'\f105';
		font-family: fontawesome;
		float:right;
	}
	a:hover {
		background: rgba(0,0,0,.2);
	}
}
