/* EVENT LIST ADDON
=========================================*/
.addon-event-list {
}
.addon-event-list:after {
	content:'';
	display: block;
	clear:both;
}

.event-list {
	a:link,
	a:visited {
		display: block;
		width:100%;
		height: 5em;
		margin-bottom:1px;
		color:#555;
		background:#D9D9D9;
		transition:$transition;
	}
	a:hover {
		background: $primary;
		color:#fff;
	}
	a:after {
		content:'';
		display: block;
		clear:both;
	}
}

.event-date {
	float:left;
	height: 5em;
	width: 5em;
	min-width: 5em;
	text-align: center;
	text-transform: uppercase;
	padding-top:.8em;
	background:linear-gradient(to right,#D9D9D9,#B7B7B7);
	border-right:1px solid #fff;
	color:#555;
	position: relative;
}
.event-date:nth-child(2){
	background:linear-gradient(to left,#D9D9D9,#B7B7B7);
}
.event-date:nth-child(2):before {
	content:'';
	top:50%;
	left:-10px;
	width:20px;
	height: 2px;
	border-radius:2px;
	background: #555;
	position: absolute;
}
.event-day {
	font-size:2em;
	line-height: 1em;
}

.event-month {
	font-size:1.2em;
}

.event-photo {
	float:left;
	height: 5em;
	width: 5em;
	min-width: 5em;
	margin-right:1px;
	background-size:cover!important;
	border-right:1px solid #fff;
}

.event-name {
	display: block;
	padding:1em 1em 0 1em;
	line-height: 1.2em;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.event-description {
	display: block;
	padding:0 1em 0 1em;
	line-height: 1.4em;
	overflow: hidden;
	 white-space: nowrap;
	text-overflow: ellipsis;
}

@media (max-width: 720px) {
	.event-list {
		font-size:.8em;
	}
}

@media (max-width: 512px) {
}
