/* PHOTO GALLERY ADD ON
=========================================*/
.addon-photo-gallery {

}

.photo-gallery {
	display: flex;
	flex-wrap:wrap;
	margin:-$spacing;
	/* crops to squares */
	a:link, a:visited {
		background-size:cover!important;
		display: inline-block;
		position: relative;
		vertical-align: top;
		width:calc(16.6% - #{$spacinghalf});
		margin:$spacing;
		padding-top:12.6%;
		overflow: hidden;
	}
	a:hover {
		.photo-gallery-caption {
			opacity: 1;
			transform:scale(1);
		}
	}
}

@media (max-width: 960px) {
	.photo-gallery {
		a:link, a:visited {
			width:calc(25% - #{$spacinghalf});
			padding-top:21%;
		}
	}
}

@media (max-width: 720px) {
	.photo-gallery {
		a:link, a:visited {
			width:calc(50% - #{$spacinghalf});
			padding-top:46%;
		}
	}
}

.photo-gallery-caption {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow: hidden;
	background:rgba(0,0,0,.9);
	opacity: 0;
	transform:scale(1.2);
	transition:$transition;
	span {
		position: absolute;
		top:50%;
		left:0;
		width:100%;
		text-align: center;
		color:#fff;
		transform:translateY(-50%);
		padding:4%;
	}
}

/* IMAGE ZOOM CSS
=========================================*/
@import 'image-zoom';
