.soc {
	a {
		display: inline-block;
	}
	i {
		color:#fff;
		border-radius:4px;
		padding:5px;
		width:25px;
		height:25px;
		box-sizing:border-box;
		display: inline-block;
	}
	.fa-facebook{background:#3660a0;}
	.fa-flickr{background:#ed338f;}
	.fa-google-plus{background:#dc5442;}
	.fa-instagram{background:#512e22;}
	.fa-linkedin{background:#096c9b;}
	.fa-medium{background:#222;}
	.fa-pinterest{background:#cb2027;}
	.fa-skype{background:#00AFF0;}
	.fa-tumblr{background:#2b4664;}
	.fa-twitter{background:#2daae1;}
	.fa-vine{background:#00BF8F;}
	.fa-yelp{background:#C41200;}
	.fa-youtube-play{background:#cc181e;}
}
