/* VARS
=========================================*/
$primary:#166de2;
$primary-alt:#2889FA;
$transition: .2s;
$spacing: 2%; /* spacing for grid type stuff */
$spacinghalf: $spacing * 2;

/* CSS TO INCLUDE BEFORE CONTENT
=========================================*/
@import 'reset';
@import 'outdated-browser';
@import '../src/font-awesome.min.css';

/* GENERAL LAYOUT
=========================================*/
.wrapper {
	max-width:1200px;
	margin:0 auto;
}
.row, .row-960, .row-720, .row-512 {
	width:100%;
	display: flex;
}
.col-100 {width:100%;}
.col-75 {width:75%;}
.col-66 {width:66.6%;}
.col-50 {width:50%;}
.col-33 {width:33.3%;}
.col-25 {width:25%;}
.col-20 {width:20%;}

/* SECTIONS
=========================================*/
@import 'navigation';
@import 'custom';
@import 'content';

/* ADD-ONS
=========================================*/

@import 'social-media';
@import 'addon-accordion';
@import 'addon-calendar';
@import 'addon-carousel';
@import 'addon-document-list';
@import 'addon-event-list';
@import 'addon-form';
@import 'addon-news-list';
@import 'addon-photo-gallery';
@import 'addon-reviews';
@import 'addon-slideshow';
@import 'addon-staff';
@import 'addon-subpages';
@import 'addon-video-gallery';
.addon {
	overflow: hidden;
	h1 {
		padding:$spacing 0;
		font-size:2em;
		line-height: 1.4em;
	}
}
.content, .addon {
	padding:30px;
}
/* MEDIA QUERIES
=========================================*/
@media screen and (max-width: 960px) {
	.row-960 {
		display:block;
		.col-100, .col-75, .col-66, .col-50, .col-33, .col-25 {
			width:100%;
		}
	}
}
@media screen and (max-width: 720px) {
	.row-720 {
		display:block;
		.col-100, .col-75, .col-66, .col-50, .col-33, .col-25 {
			width:100%;
		}
	}
}
@media screen and (max-width: 512px) {
	.row-512 {
		display:block;
		.col-100, .col-75, .col-66, .col-50, .col-33, .col-25 {
			width:100%;
		}
	}
}
.responsive-iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}